name: CI

permissions:
  contents: read

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    name: build-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version-file: .nvmrc
          cache: npm

      - run: npm ci --legacy-peer-deps
      - name: Lint (informational)
        run: npm run lint || echo "lint failed (ignored)"
      - name: Typecheck (informational)
        run: npm run typecheck:ci
      - run: npm run test
      - run: npm run build
